

<div class="p-24" style="width: 500px" fxLayout="row" fxLayoutAlign="space-around center">
    <button >IS ADMIN</button>
    <br>
    <button>IS manager</button>
    <br>
    <button>IS speaker</button>
</div>

<br>
<br>
<br>

<h3>Admin</h3>
<ul>
    <li>criar</li>
    <li>Ler</li>
    <li>editar</li>
    <li>excluir</li>
</ul>

<br>


<h3>Manager</h3>
<ul>
    <li>criar</li>
    <li>Ler</li>
    <li>editar</li>
    <li>excluir</li>
</ul>

<br>

<h3>Speaker</h3>
<ul>
    <li>criar</li>
    <li>Ler</li>
    <li>editar</li>
    <li>excluir</li>
</ul>

<br>