<div class="box">
    <div class="p-24" style="width: 300px" fxLayout="row" fxLayoutAlign="space-around center">
        <button (click)="active(['admin'])">ADMIN</button>
        <br>
        <button (click)="active(['editor'])">EDITOR</button>
        <br>
        <button (click)="active(['admin' ,'editor'])">ADMIN && EDITOR</button>
    </div>
    <div *W3AclRole="['admin']">
        Só aparece para admin
    </div>
    <div *W3AclRole="['editor']">
        Só aparece para editor
    </div>
    <div *W3AclRole="['']">
        Só aparece para todos
    </div>
</div>

<div class="box">
    <h4>Permissions:</h4>
    <ul>
        <li *ngFor="let p of perms" [ngClass]="{'red-500-bg': !acl.can(p)}">{{p.toUpperCase()}}</li>
        <li [ngClass]="{'red-500-bg': !acl.can(['read', 'delete'])}">READ || DELETE</li>
        <li [ngClass]="{'red-500-bg': !acl.can(['read', 'delete'], true)}">array: READ && DELETE</li>
        <li [ngClass]="{'red-500-bg': !acl.can(['read', 'update'], true)}">array: READ && UPDATE</li>
        <li [ngClass]="{'red-500-bg': !acl.can('read,delete')}">syntax: read,delete</li>
        <li [ngClass]="{'red-500-bg': !acl.can('read,update')}">syntax: read,update</li>
        <li [ngClass]="{'red-500-bg': !acl.can('read|delete')}">syntax: read|delete</li>
        <li [ngClass]="{'red-500-bg': !acl.can('read|update')}">syntax: read|update</li>
    </ul>
</div>

<div class="box">
    <h4>Roles:</h4>
    <ul>
        <li *ngFor="let r of roles" [ngClass]="{'red-500-bg': !acl.hasRole(r)}">{{r.toUpperCase()}}</li>
        <li [ngClass]="{'red-500-bg': !acl.hasRole(['admin', 'editor'])}">ADMIN || EDITOR</li>
        <li [ngClass]="{'red-500-bg': !acl.hasRole(['admin', 'editor'], true)}">ADMIN && EDITOR</li>
    </ul>
</div>

<hr/>

<div class="box">
    <h4>Permissions:</h4>
    <ul>
        <li *ngFor="let p of perms" >{{p.toUpperCase()}}</li>
        <li *W3AclCan="['read', 'delete']; op 'AND'">READ || DELETE</li>
        <li *W3AclCan="['read', 'delete']; op 'AND'">READ && DELETE</li>
        <li *W3AclCan="['read', 'update']; op 'OR'">READ && UPDATE</li>
    </ul>
</div>
<div *W3AclCan="['read', 'delete']">
    is visible
</div>

<div class="box">
    <h4>Roles:</h4>
    <ul>
        <li *ngFor="let r of roles" >{{r.toUpperCase()}}</li>
        <li *W3AclRole="['admin', 'editor']">ADMIN || EDITOR</li>
        <li *W3AclRole="['admin', 'editor']; op 'AND'">ADMIN && EDITOR</li>
    </ul>
</div>