:host {

    display: block;

    .box {
        float: left;
    }

    ul > li {
        width: 230px;
        padding: 30px;
        text-align: center;
        border: 1px dashed deeppink;
        margin: 5px;
        background-color: yellow;
    }

}