<div class="box">
    <div class="p-24" style="width: 500px" fxLayout="row" fxLayoutAlign="space-around center">
        <button (click)="active(['admin'])">ADMIN</button>
        <br>
        <button (click)="active(['editor'])">EDITOR</button>
        <br>
        <button (click)="active(['admin' ,'editor'])">ADMIN && EDITOR</button>
    </div>
</div>

<div class="box">
    <h4>Permissions:</h4>
    <ul>
        <li *ngFor="let p of perms" [ngClass]="{'red-500-bg': !acl.can(p)}">{{p.toUpperCase()}}</li>
        <li [ngClass]="{'red-500-bg': !acl.can(['read', 'delete'])}">READ || DELETE</li>
        <li [ngClass]="{'red-500-bg': !acl.can(['read', 'delete'], true)}">READ && DELETE</li>
        <li [ngClass]="{'red-500-bg': !acl.can(['read', 'update'], true)}">READ && UPDATE</li>
    </ul>
</div>

<div class="box">
    <h4>Roles:</h4>
    <ul>
        <li *ngFor="let r of roles" [ngClass]="{'red-500-bg': !acl.hasRole(r)}">{{r.toUpperCase()}}</li>
        <li [ngClass]="{'red-500-bg': !acl.hasRole(['admin', 'editor'])}">ADMIN || EDITOR</li>
        <li [ngClass]="{'red-500-bg': !acl.hasRole(['admin', 'editor'], true)}">ADMIN && EDITOR</li>
    </ul>
</div>

<hr/>

<div class="box">
    <h4>Permissions:</h4>
    <ul>
        <li *ngFor="let p of perms" [w3AclCan]="p">{{p.toUpperCase()}}</li>
        <li [w3AclCan]="['read', 'delete']">READ || DELETE</li>
        <li [w3AclCan]="['read', 'delete']: true">READ && DELETE</li>
        <li [w3AclCan]="['read', 'update']: true">READ && UPDATE</li>
    </ul>
</div>

<div class="box">
    <h4>Roles:</h4>
    <ul>
        <li *ngFor="let r of roles" [w3AclRole]="r">{{r.toUpperCase()}}</li>
        <li [w3AclRole]="['admin', 'editor'])}">ADMIN || EDITOR</li>
        <li [w3AclRole]="['admin', 'editor']:true">ADMIN && EDITOR</li>
    </ul>
</div>